*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 150px;
	background-color: #00688B;
}
.main{
	width: 1200px;
	margin: 0 auto;                 /*0：上下 auto: 左右 设置区块垂直居中对齐*/
}
.main #container {
	width: 1200px;
	height: 500px;
	position: relative;
	background-color: #008B8B;
}
.main #container #people-show{
	width: 100%;
	height: 400px;
	background-color: 	#00C5CD;
}
.main #container #people-show #people-table{
	width: 100%;
	background-color: 	white;
}
.main #container #people-show #people-table img{
	width: 125px;
	height: 150px;
}
.footer{
	width: 100%;
	height: 150px;
	background-color: #00688B;
	float: left;
}
.footer .copyright{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-family: 微软雅黑;
	font-size: 14px;
	padding-top: 30px;
	line-height: 2em;
}
